[Unit]
Description=Home Assistant Desktop Agent
After=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.local/share/HADesktopAgent/HADesktopAgent.Linux
Restart=on-failure
RestartSec=5
KillMode=process

[Install]
WantedBy=default.target
